<div class="height-100 mat-bg-primary">
  <div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex="100" fxFlex.gt-sm="100" fxLayout="column" fxLayoutWrap="wrap">
      <mat-card>
        <mat-card-title>Right To Information Act 2005</mat-card-title>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>
          <mat-list class="compact-list mb-1">
            <mat-list-item class="pt-0 pb-0">
              <div fxLayout="row" fxFlex="100">
                <h6 class="m-0 mr-1">1</h6>
                <span fxFlex></span>
                <div fxFlex="70">Particulars of Organization</div>
                <span fxFlex></span>
              </div>
              <a href="../../../assets/rti/Particulars_Organization.pdf" target="_blank">
                <button
                  mat-icon-button
                  [style.overflow]="'visible'">
                  <mat-icon>file_download</mat-icon>
                </button>
              </a>
            </mat-list-item>
            <mat-list-item class="pt-0 pb-0">
              <div fxLayout="row" fxFlex="100">
                <h6 class="m-0 mr-1">2</h6>
                <span fxFlex></span>
                <div fxFlex="70">Powers and Duties of Officers and Employees.</div>
                <span fxFlex></span>
              </div>
              <a href="../../../assets/rti/Powers_and_Duties.pdf" target="_blank">
                <button
                  mat-icon-button
                  [style.overflow]="'visible'">
                  <mat-icon>file_download</mat-icon>
                </button>
              </a>
            </mat-list-item>
            <mat-list-item class="pt-0 pb-0">
              <div fxLayout="row" fxFlex="100">
                <h6 class="m-0 mr-1">3</h6>
                <span fxFlex></span>
                <div fxFlex="70">Procedure for Decision Making</div>
                <span fxFlex></span>
              </div>
              <a href="../../../assets/rti/Decision_Making.pdf" target="_blank">
                <button
                  mat-icon-button
                  [style.overflow]="'visible'">
                  <mat-icon>file_download</mat-icon>
                </button>
              </a>
            </mat-list-item>
            <mat-list-item class="pt-0 pb-0">
              <div fxLayout="row" fxFlex="100">
                <h6 class="m-0 mr-1">4</h6>
                <span fxFlex></span>
                <div fxFlex="70">Norms for Discharge of Functions</div>
                <span fxFlex></span>
              </div>
              <a href="../../../assets/rti/Norms.pdf" target="_blank">
                <button
                  mat-icon-button
                  [style.overflow]="'visible'">
                  <mat-icon>file_download</mat-icon>
                </button>
              </a>
            </mat-list-item>
            <mat-list-item class="pt-0 pb-0">
              <div fxLayout="row" fxFlex="100">
                <h6 class="m-0 mr-1">5</h6>
                <span fxFlex></span>
                <div fxFlex="70">Rules & Regulations for Discharge of Functions.</div>
                <span fxFlex></span>
              </div>
              <a href="../../../assets/rti/Rules_Regulations.pdf" target="_blank">
                <button
                  mat-icon-button
                  [style.overflow]="'visible'">
                  <mat-icon>file_download</mat-icon>
                </button>
              </a>
            </mat-list-item>
            <mat-list-item class="pt-0 pb-0">
              <div fxLayout="row" fxFlex="100">
                <h6 class="m-0 mr-1">6</h6>
                <span fxFlex></span>
                <div fxFlex="70">Statement of Categories.</div>
                <span fxFlex></span>
              </div>
              <a href="../../../assets/rti/Statement.pdf" target="_blank">
                <button
                  mat-icon-button
                  [style.overflow]="'visible'">
                  <mat-icon>file_download</mat-icon>
                </button>
              </a>
            </mat-list-item>
            <mat-list-item class="pt-0 pb-0">
              <div fxLayout="row" fxFlex="100">
                <h6 class="m-0 mr-1">7</h6>
                <span fxFlex></span>
                <div fxFlex="70">Details of consultative committees and other bodies.</div>
                <span fxFlex></span>
              </div>
              <a href="../../../assets/rti/Details.pdf" target="_blank">
                <button
                  mat-icon-button
                  [style.overflow]="'visible'">
                  <mat-icon>file_download</mat-icon>
                </button>
              </a>
            </mat-list-item>
            <mat-list-item class="pt-0 pb-0">
              <div fxLayout="row" fxFlex="100">
                <h6 class="m-0 mr-1">8</h6>
                <span fxFlex></span>
                <div fxFlex="70">List of Boards,Councils,Committees & Other Bodies.</div>
                <span fxFlex></span>
              </div>
              <a href="../../../assets/rti/List.pdf" target="_blank">
                <button
                  mat-icon-button
                  [style.overflow]="'visible'">
                  <mat-icon>file_download</mat-icon>
                </button>
              </a>
            </mat-list-item>
            <mat-list-item class="pt-0 pb-0">
              <div fxLayout="row" fxFlex="100">
                <h6 class="m-0 mr-1">9</h6>
                <span fxFlex></span>
                <div fxFlex="70">Directory of Officers/ Employees.</div>
                <span fxFlex></span>
              </div>
              <a href="../../../assets/rti/Directory.pdf" target="_blank">
                <button
                  mat-icon-button
                  [style.overflow]="'visible'">
                  <mat-icon>file_download</mat-icon>
                </button>
              </a>
            </mat-list-item>
            <mat-list-item class="pt-0 pb-0">
              <div fxLayout="row" fxFlex="100">
                <h6 class="m-0 mr-1">10</h6>
                <span fxFlex></span>
                <div fxFlex="70">Budget allocated to each agency.</div>
                <span fxFlex></span>
              </div>
              <a href="#" target="_blank">
                <button
                  mat-icon-button
                  [style.overflow]="'visible'">
                  <mat-icon>file_download</mat-icon>
                </button>
              </a>
            </mat-list-item>
            <mat-list-item class="pt-0 pb-0">
              <div fxLayout="row" fxFlex="100">
                <h6 class="m-0 mr-1">11</h6>
                <span fxFlex></span>
                <div fxFlex="70">Execution of subsidy program.</div>
                <span fxFlex></span>
              </div>
              <a href="../../../assets/rti/Execution_of_subsidy.pdf" target="_blank">
                <button
                  mat-icon-button
                  [style.overflow]="'visible'">
                  <mat-icon>file_download</mat-icon>
                </button>
              </a>
            </mat-list-item>
            <mat-list-item class="pt-0 pb-0">
              <div fxLayout="row" fxFlex="100">
                <h6 class="m-0 mr-1">12</h6>
                <span fxFlex></span>
                <div fxFlex="70">Particulars of receipts of concession permits.</div>
                <span fxFlex></span>
              </div>
              <a href="../../../assets/rti/Particulars_of_receipts.pdf" target="_blank">
                <button
                  mat-icon-button
                  [style.overflow]="'visible'">
                  <mat-icon>file_download</mat-icon>
                </button>
              </a>
            </mat-list-item>
            <mat-list-item class="pt-0 pb-0">
              <div fxLayout="row" fxFlex="100">
                <h6 class="m-0 mr-1">13</h6>
                <span fxFlex></span>
                <div fxFlex="70">Information available in electronic form.</div>
                <span fxFlex></span>
              </div>
              <a href="../../../assets/rti/electronic_form.pdf" target="_blank">
                <button
                  mat-icon-button
                  [style.overflow]="'visible'">
                  <mat-icon>file_download</mat-icon>
                </button>
              </a>
            </mat-list-item>
            <mat-list-item class="pt-0 pb-0">
              <div fxLayout="row" fxFlex="100">
                <h6 class="m-0 mr-1">14</h6>
                <span fxFlex></span>
                <div fxFlex="70">Facilities available for obtaining information.</div>
                <span fxFlex></span>
              </div>
              <a href="../../../assets/rti/Facilities.pdf" target="_blank">
                <button
                  mat-icon-button
                  [style.overflow]="'visible'">
                  <mat-icon>file_download</mat-icon>
                </button>
              </a>
            </mat-list-item>
            <mat-list-item class="pt-0 pb-0">
              <div fxLayout="row" fxFlex="100">
                <h6 class="m-0 mr-1">15</h6>
                <span fxFlex></span>
                <div fxFlex="70">Particulars of SPIOs.</div>
                <span fxFlex></span>
              </div>
              <a href="../../../assets/rti/spio.pdf" target="_blank">
                <button
                  mat-icon-button
                  [style.overflow]="'visible'">
                  <mat-icon>file_download</mat-icon>
                </button>
              </a>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
