<div class="height-100 mat-bg-primary">
  <div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex="100" fxFlex.gt-sm="100" fxLayout="column" fxLayoutWrap="wrap">
      <mat-card>
        <mat-card-title>Documents</mat-card-title>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>
          Documents
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
