<mat-sidenav-container class="app-side-nav-container">
  <!-- Main side navigation -->
  <mat-sidenav #sidenav [opened]="!isNavOver()" [mode]="isNavOver() ? 'over' : 'side'" class="sidebar-panel">
    <div id="scroll-area" class="navigation-hold" fxLayout="column">
      <!-- App Logo -->
      <div class="branding default-bg">
        <img src="assets/images/logo.png" alt="" class="app-logo">
        <!-- Two different logos for dark and light themes -->
        <img
          src="assets/images/logo-text-white.png"
          alt=""
          class="app-logo-text"
          *ngIf="themeService.activatedThemeName.indexOf('dark') !== -1">
        <img
          src="assets/images/logo-text.png"
          alt=""
          class="app-logo-text"
          *ngIf="themeService.activatedThemeName.indexOf('dark') === -1">
      </div>

      <!-- Sidebar user -->
      <!-- Navigation -->
      <app-sidebar></app-sidebar>
    </div>
  </mat-sidenav>

  <!-- Top Bar -->
  <!-- Template reference variables of Left sidebar and Right notification is supplied -->
  <!-- Listens language change event -->
  <app-topbar
    [sidenav]="sidenav"></app-topbar>
  <!-- App content -->
  <div class="breadcrumb-bar">
    <img src="../assets/images/banner.jpg" class="full-width">
  </div>
  <div class="rightside-content-hold">
 <router-outlet></router-outlet>
    <div fxLayout="row" fxLayoutAlign="center end" class="mat-bg-primary">
        <mat-card class="full-width mat-bg-primary">
          <mat-card-content>
            <div fxLayout="row">
              <div fxFlex="30">
                <img mat-card-md-image src="../assets/images/15.-प्रतीक-चिह्न-हरियाणा-स्वर्ण-जयंती.png">
              </div>
              <div fxFlex="70">
                <p>Contents owned and updated by Haryana Irrigation Department.</p>
                <p>Nodal Officer for updation of website </p>
                <p>ADE/IT, Sinchai Bhawan, Sector-5, Panchkula</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
    </div>
  </div>
  <!-- Notificaation bar -->

</mat-sidenav-container>
