<mat-toolbar class="topbar">
  <!-- Sidenav toggle button -->
  <button
    mat-icon-button
    id="sidenavToggle"
    (click)="toggleSidenav()"
    mat-tooltip="Toggle Hide/Open">
    <mat-icon>menu</mat-icon>
  </button>
  <!-- Sidenav toggle collapse -->
  <button
    *ngIf="sidenav.opened"
    mat-icon-button
    id="collapseToggle"
    fxHide.lt-mat="true"
    (click)="toggleCollapse()"
    mat-tooltip="Toggle Collapse"
    class="toggle-collapsed">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <!-- Search form -->
  <span fxFlex></span>
  <!-- Language Switcher -->
  <!-- Theme Switcher -->
  <button
    mat-icon-button
    id="schemeToggle"
    [style.overflow]="'visible'"
    matTooltip="Color Schemes"
    [matMenuTriggerFor]="themeMenu"
    class="topbar-button-right">
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <mat-menu #themeMenu="matMenu">
    <mat-grid-list
      class="theme-list"
      cols="2"
      rowHeight="48px">
      <mat-grid-tile
        *ngFor="let theme of egretThemes"
        (click)="changeTheme(theme)">
        <div mat-menu-item [title]="theme.name">
          <div [style.background]="theme.baseColor" class="egret-swatch"></div>
          <mat-icon class="active-icon" *ngIf="theme.isActive">check</mat-icon>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-menu>
  <!-- Notification toggle button -->
<!--  <button
    mat-icon-button
    matTooltip="Notifications"
    (click)="toggleNotific()"
    [style.overflow]="'visible'"
    class="topbar-button-right">
    <mat-icon>notifications</mat-icon>
    <span class="notification-number mat-bg-warn">3</span>
  </button>-->
</mat-toolbar>
