<div class="height-100 mat-bg-primary">
<div fxLayout="row" fxLayoutWrap="wrap">
  <div
    fxFlex="100"
    fxFlex.gt-xs="100">
    <mat-card>
      <mat-card-title>Organisation</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list class="compact-list mb-1">
          <mat-list-item class="pt-0 pb-0">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">1</h6>
              <span fxFlex></span>
              <div fxFlex="70">ORGANISATION CHART</div>
              <span fxFlex></span>
            </div>
            <a href="../../../assets/files/org-chart.xls" target="_blank">
              <button
                mat-icon-button
                [style.overflow]="'visible'">
                <mat-icon>file_download</mat-icon>
              </button>
            </a>
          </mat-list-item>
          <mat-list-item class="pt-0 pb-0">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">2</h6>
              <span fxFlex></span>
              <div fxFlex="70">Telephone & EPABX Numbers of Sinchai Bhawan ,Panchkula</div>
              <span fxFlex></span>
            </div>
            <a href="" target="_blank">
              <button
                mat-icon-button
                [style.overflow]="'visible'">
                <mat-icon>file_download</mat-icon>
              </button>
            </a>
          </mat-list-item>
          <mat-list-item class="pt-0 pb-0">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">3</h6>
              <span fxFlex></span>
              <div fxFlex="70">List of Books in Library</div>
              <span fxFlex></span>
            </div>
            <a href="" target="_blank">
              <button
                mat-icon-button
                [style.overflow]="'visible'">
                <mat-icon>file_download</mat-icon>
              </button>
            </a>
          </mat-list-item>
          <mat-list-item class="pt-0 pb-0">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">4</h6>
              <span fxFlex></span>
              <div fxFlex="70">Incumbency and Contact Information of Group-A Officers</div>
              <span fxFlex></span>
            </div>
            <a href="../../../assets/htmls/incumbancy.html" target="_blank">
              <button
                mat-icon-button
                [style.overflow]="'visible'">
                <mat-icon>contacts</mat-icon>
              </button>
            </a>
          </mat-list-item>
          <mat-list-item class="pt-0 pb-0">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">5</h6>
              <span fxFlex></span>
              <div fxFlex="70">Incumbency and Contact Information of LCU</div>
              <span fxFlex></span>
            </div>
            <a href="" target="_blank">
              <button
                mat-icon-button
                [style.overflow]="'visible'">
                <mat-icon>file_download</mat-icon>
              </button>
            </a>
          </mat-list-item>
          <mat-list-item class="pt-0 pb-0">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">6</h6>
              <span fxFlex></span>
              <div fxFlex="70">Incumbency and Contact Information of All SDOs</div>
              <span fxFlex></span>
            </div>
            <a href="" target="_blank">
              <button
                mat-icon-button
                [style.overflow]="'visible'">
                <mat-icon>file_download</mat-icon>
              </button>
            </a>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
