<div class="height-100 mat-bg-primary">
  <div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex="100" fxFlex.gt-sm="100" fxLayout="column" fxLayoutWrap="wrap">
      <mat-card>
        <mat-card-title>Latest News</mat-card-title>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="pt-1 pb-1">
              <mat-panel-title>
                Notice
              </mat-panel-title>
              <mat-panel-description>
                <strong>Engagement of 400 Nos Junior Engineers On Contract Basis</strong>
                <img src="../../../assets/images/NC.gif">
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list class="compact-list mb-1">
              <mat-list-item class="pt-1 pb-1" *ngFor="let n of jeRecruitemnt">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">{{n.srNo}}</h6>
                  <span fxFlex></span>
                  <div fxFlex="70">{{n.message}}</div>
                  <span fxFlex></span>
                  <small class="text-muted mr-1">{{ n.date}}</small>
                </div>
                <a [href]= n.pdf target="_blank">
                  <button
                    mat-icon-button
                    [style.overflow]="'visible'">
                    <mat-icon>file_download</mat-icon>
                  </button>
                </a>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="pt-1 pb-1">
              <mat-panel-title>
                Notice
              </mat-panel-title>
              <mat-panel-description>
                <strong>Results of DPE & DRE Exams of Class-III Employees held in July-2017</strong>
                <img src="../../../assets/images/NC.gif">
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list class="compact-list mb-1">
              <mat-list-item class="pt-1 pb-1">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">1</h6>
                  <span fxFlex></span>
                  <div fxFlex="70">DRE Result(ASDEs/JEs/.....) July-2017</div>
                  <span fxFlex></span>
                  <small class="text-muted mr-1">18/09/2017</small>
                </div>
                <a href="../../../assets/pdfs/results/DREResult18092017.pdf" target="_blank">
                  <button
                    mat-icon-button
                    [style.overflow]="'visible'">
                    <mat-icon>file_download</mat-icon>
                  </button>
                </a>
              </mat-list-item>
              <mat-list-item class="pt-1 pb-1">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">2</h6>
                  <span fxFlex></span>
                  <div fxFlex="70">DPE Result(ASDEs/JEs/.....) July-2017</div>
                  <span fxFlex></span>
                  <small class="text-muted mr-1">18/09/2017</small>
                </div>
                <a href="../../../assets/pdfs/results/DPEResult18092017.pdf" target="_blank">
                  <button
                    mat-icon-button
                    [style.overflow]="'visible'">
                    <mat-icon>file_download</mat-icon>
                  </button>
                </a>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
