<div class="height-100 mat-bg-primary">
  <div fxLayout="row" fxLayoutWrap="wrap">
    <div
      fxFlex="100"
      fxFlex.gt-xs="100">
      <mat-card>
        <!--<img mat-card-image  src="../../assets/images/banner.jpg" style="margin-bottom:-3px">-->
        <img mat-card-image  src="../../assets/images/banner2.jpg">
        <mat-card class="p-0">
          <mat-card-title class="">
            <div class="card-title-text">Download Documents</div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <mat-tab-group>
              <mat-tab label="Page 1">
                <mat-list class="compact-list mb-1">
                  <mat-list-item>
                    <a fxLayout="row" fxFlex="100" href="../../assets/pdfs/notice072017.pdf" target="_blank">
                      1. Debarring the agencies for participating in any Bid of Haryana Irrigation and Water Resources Department
                    </a>
                    <a href="../../assets/pdfs/notice072017.pdf" target="_blank">
                      <button
                        mat-icon-button
                        [style.overflow]="'visible'">
                        <mat-icon>file_download</mat-icon>
                      </button>
                    </a>
                  </mat-list-item>
                </mat-list>
              </mat-tab>
              <mat-tab label="Page 2">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quod dolores explicabo at nisi voluptatum doloribus,
                  natus consequatur voluptate reprehenderit, obcaecati nulla quibusdam porro iste autem. Quia, quod possimus voluptas?
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quod dolores explicabo at nisi voluptatum doloribus,
                  natus consequatur voluptate reprehenderit, obcaecati nulla quibusdam porro iste autem. Quia, quod possimus voluptas?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quod dolores explicabo at nisi voluptatum doloribus,
                  natus consequatur voluptate reprehenderit, obcaecati nulla quibusdam porro iste autem. Quia, quod possimus voluptas?
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quod dolores explicabo at nisi voluptatum doloribus,
                  natus consequatur voluptate reprehenderit, obcaecati nulla quibusdam porro iste autem. Quia, quod possimus voluptas?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quod dolores explicabo at nisi voluptatum doloribus,
                  natus consequatur voluptate reprehenderit, obcaecati nulla quibusdam porro iste autem. Quia, quod possimus voluptas?
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quod dolores explicabo at nisi voluptatum doloribus,
                  natus consequatur voluptate reprehenderit, obcaecati nulla quibusdam porro iste autem. Quia, quod possimus voluptas?</p>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </mat-card>
    </div>
  </div>
</div>


